* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_blue_dark: rgb(28, 40, 73);
  --color_blue: rgb(40, 57, 104);
  --color_blue_light: rgb(44, 64, 122);
  --color_white: #f0f8ff;
  --color_gray: #c3c3c3;

  --color_border_blue_light: rgb(2, 196, 255);
  --color_border_blue: orange;
}

body {
  width: 100%;
  background-color: var(--color_blue_dark);
}

.btn::before,
.btn::after {
  padding: 0;
  margin: 0;
}
.btn {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 10px 20px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1.5px solid orange;
  font-size: 1.2rem;
  background-size: 300%;
  transition: all 0.6s;
  color: orange;
  background-color: transparent;
  background-image: linear-gradient(160deg, transparent 50%, orange 50%);
}
.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}
