.nav {
  width: 90%;
  height: 100%;
  max-width: 20rem;
  background-color: var(--color_blue_dark);
  overflow: hidden;
}
.ul {
  width: 100%;
  height: 100%;
}
.link {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_white);
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  background-color: orange;
}

.li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid red;
}
@media screen and (min-width: 1024px) {
  .nav {
  }
}

/*
.nav {
  position: absolute;
  top: 0;
  left: 4rem;
  width: 320px;
  height: 100vh;
  z-index: 100;
  background-color: rgb(37, 52, 95);
}

.ul {
  width: 100%;
  height: 100%;
}

.link {
  width: 100%;
  color: var(--color_white);
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.li {
  width: 100%;
  height: 25%;
  border-bottom: 4px solid red;
}
*/
