.form {
  width: 100%;
  max-width: 400px;
  display: flex;

  flex-direction: column;
}

.label {
  margin-top: 1.5rem;
  color: var(--color_white);
}

.input {
  margin-top: 4px;
  padding: 0.5rem;
  outline: none;
  border: 1px solid white;
  color: var(--color_white);
  background-color: var(--color_blue_light);
}

.btn::before,
.btn::after {
  padding: 0;
  margin: 0;
}
.btn {
  position: relative;
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 1.5px solid orange;
  font-size: 2rem;
  background-size: 300%;
  transition: all 0.6s;
  color: orange;
  background-color: transparent;
  background-image: linear-gradient(160deg, transparent 50%, orange 50%);
}
.btn:hover {
  color: #fff;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.btn:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}
