.form {
  width: 100%;
  max-width: 400px;
  display: flex;

  flex-direction: column;
}

.label {
  margin-top: 1.5rem;
  color: var(--color_white);
}

.input {
  margin-top: 4px;
  padding: 0.5rem;
  outline: none;
  border: 1px solid white;
  color: var(--color_white);
  background-color: var(--color_blue_light);
}

.buttonSubmit {
  width: 200px;
  margin-top: 1.5rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--color_white);
  border: 1px solid var(--color_white);
  cursor: pointer;
}
