.form {
  width: 80%;
  margin: auto;
  display: flex;

  flex-direction: column;
}

.label {
  margin-top: 1.5rem;
  color: aliceblue;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  outline: none;
  color: aliceblue;
  background-color: var(--color_blue_light);
}

.inputSubmit {
  margin: 1rem;
  padding: 0.5rem;
  color: aliceblue;
  font-size: 2rem;
  background-color: green;
  cursor: pointer;
}
