* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_blue_dark: rgb(28, 40, 73);
  --color_blue: rgb(40, 57, 104);
  --color_blue_light: rgb(64, 121, 255);
  --color_white: rgb(255, 255, 255);
}

body {
  /*
  display: flex;
  perspective: 500px;
  background-color: rgb(28, 40, 73);
  overflow: hidden;
*/
}

.childrens {
  position: absolute;
  margin-left: 4rem;
  background: 'rgb(20, 29, 53)';
}
