* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_blue_dark: rgb(28, 40, 73);
  --color_blue: rgb(40, 57, 104);
  --color_blue_light: rgb(44, 64, 122);
  --color_white: rgb(255, 255, 255);
}

.image {
  object-fit: cover;
}

body {
  background: #ea00ea;
}
.contChildrens {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .contChildrens {
    top: 0;
    left: 4rem;
    perspective: 500px;
  }
}
