* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_blue_dark: rgb(28, 40, 73);
  --color_blue: rgb(40, 57, 104);
  --color_blue_light: rgb(44, 64, 122);
  --color_white: rgb(255, 255, 255);
}

.image {
  object-fit: cover;
}
/**/

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 40, 73);
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.childrens {
  width: 100%;
  background-color: var(--color_blue_light);
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
  .container {
    perspective: 500px;
  }
}
/*

body {
  display: flex;
  perspective: 500px;
  background-color: rgb(28, 40, 73);
  overflow: hidden;

}

.childrens {
  position: absolute;
  margin-left: 4rem;
  background: 'rgb(20, 29, 53)';
}
*/
