.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  display: flex;
  background-color: green;
  color: aliceblue;
}
.description {
  width: 70%;
  padding: 20px;
}
.contImage {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: red;
}

.img {
  border-radius: 50%;
}
