.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  color: aliceblue;
  overflow: hidden;
}
/*
.description {
  width: 70%;
  padding: 20px;
}
.contImage {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: red;
}

.img {
  border-radius: 50%;
}
*/
