.form {
  width: 100%;
  max-width: 400px;
  display: flex;

  flex-direction: column;
}

.label {
  margin-top: 1.5rem;
  color: var(--color_white);
}

.input {
  margin-top: 4px;
  padding: 0.5rem;
  outline: none;
  border: 1px solid white;
  color: var(--color_white);
  background-color: var(--color_blue_light);
}

.success,
.error {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: aliceblue;
  background-color: red;
}
.success {
  background-color: green;
}
