.container {
  cursor: pointer;
}

.ul {
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: green;
  list-style: none;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color_blue_light);
}

.link {
  font-size: 1.2rem;
  color: aliceblue;
  text-decoration: none;
}
